<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span>Book</span> {{book.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{book.title}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{book.language}}</span>
                </dd>
                <dt><span>Isbn</span></dt>
                <dd>
                    <span>{{book.isbn}}</span>
                </dd>
                <dt><span>Publication Date</span></dt>
                <dd>
                    <span>{{book.publicationDate}}</span>
                </dd>
                <dt><span>Number Of Pages</span></dt>
                <dd>
                    <span>{{book.numberOfPages}}</span>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    <span *ngFor="let author of book.authors; let last = last">
                        <a [routerLink]="['/author', author?.id, 'view' ]">{{author.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span *ngFor="let category of book.categories; let last = last">
                        <a [routerLink]="['/category', category?.id, 'view' ]">{{category.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Library</span></dt>
                <dd>
                    <span *ngFor="let library of book.libraries; let last = last">
                        <a [routerLink]="['/library', library?.id, 'view' ]">{{library.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Editor</span></dt>
                <dd>
                    <div *ngIf="book.editor">
                        <a [routerLink]="['/editor', book.editor?.id, 'view']">{{book.editor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
